<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Courses</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <span th:text="${'New Course'}"></span>
                </div>
                <div class="card-body">
                    <form method="post" th:object="${course}" th:action="@{/courses/new}">
                        <div class="mb-3">
                            <label for="type">Course select</label>
                            <select class="form-control" id="type" th:field="*{name}">
                                <option th:each="type : ${courseTypes}"
                                        th:value="${type}"
                                        th:text="${type}">
                                </option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>