<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Student Details</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    Student Details
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <th>id</th>
                            <td th:text="${student.getId()}"></td>
                        </tr>
                        <tr>
                            <th>name</th>
                            <td th:text="${student.getFirstName() + ' ' + student.getLastName()}"></td>
                        </tr>
                        <tr>
                            <th>email</th>
                            <td th:text="${student.getEmail()}"></td>
                        </tr>
                    </table>
                    <div class="mt-2 mb-2">
                        <div class="btn-group">
                            <a class="btn" th:href="@{'/students/update/' + ${student.getId()}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>