<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Students</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <span th:text="${'New Student'}"></span>
                </div>
                <div class="card-body">
                    <form method="post" th:object="${student}" th:action="@{${requestUrl}}">
                        <input type="hidden" id="courseId" th:field="*{courseId}" th:value="${student.getCourseId()}">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Please enter email" th:field="*{email}" th:value="${student.getEmail()}">
                        </div>
                        <div class="form-group">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="Please enter first name" th:field="*{firstName}" th:value="${student.getFirstName()}">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Please enter last name" th:field="*{lastName}" th:value="${student.getLastName()}">
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>